.exercise {
    text-align: center;

    .image {
        img {
            width: 90%;
            max-width: 400px;
        }
    }


    .title {
        margin: 50px auto;
        border: 1px solid gray;
        max-width: 400px;
        width: 90%;
    }

    .input {
        margin: 50px auto;
        border: 1px solid gray;
        max-width: 400px;
        width: 90%;
        .button {
            margin: 30px auto;
        }
    }

    .output {
        margin: 50px auto;
        padding: 50px 0;
        border: 1px solid gray;
        max-width: 400px;
        width: 90%;
    }
}