.motorcycle {

    .main-image {
        img {
            width: 90%;
            max-width: 400px;
        }
    }

    .input {
        border: 10px solid red;
        max-width: 400px;
        width: 100%;
        margin: 0px auto;
        box-sizing: border-box;
        .title {
            border: 10px solid gray;
        }
    }

    .output {
        border: 10px solid yellow;
        max-width: 400px;
        width: 100%;
        margin: 0px auto;
        box-sizing: border-box;
        .title {
            border: 10px solid gray;
        }
    }
}