.rule {
    
    .image {
        img {
            width: 90%;
            max-width: 400px;
        }
    }

    .holiday {
        
        text-align: center;
        margin: auto;

        .table {
            margin: auto;
        }

    }

}